@tailwind base;
@tailwind components;
@tailwind utilities;

.fondo-azul {
  background-color: blue;
}

.texto-blanco {
  color: white;
}

.padding-estandar {
  padding: 5px 10px;
}

.borde-redondo {
  border-radius: 10px;
}

